:global(.ant-popover .ant-popover-content .ant-popover-inner) {
  padding: 16px;
}

.container {
  width: 380px;
  padding: 8px 0;
}

.scaleInput {
  margin-bottom: 24px;
  > div {
    width: 100%;
  }
}

.commonSlider {
  background-color: #87cca533;
  &.sliderDisable {
    background-color: #ededed54;
  }
}

.quality {
  margin-bottom: 24px;
  > span {
    margin-bottom: 16px;
  }
}

.openHp {
  margin-bottom: 16px;
}

.hpDither {
  margin-bottom: 24px;
}

.hpBox {
  position: relative;
}
