$headerHeight: 60px;
$sideWidth: 380px;
$border: 1px solid #dfdfdf;

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.header {
  background-color: #fff;
  height: $headerHeight;
  padding: 0 16px;
  border-bottom: $border;
}

.locale {
  cursor: pointer;
  svg {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    path {
      fill: currentColor;
    }
  }
  span {
    white-space: nowrap;
    color: currentColor;
  }
  &:hover {
    color: #1da565;
  }
}

.main {
  height: calc(100% - $headerHeight);
}

.status {
  padding-left: 16px !important;
}
.action {
  padding-right: 16px !important;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.preview {
  font-size: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    > div {
      display: flex;
    }
  }
  > div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    svg {
      width: 20px;
      path {
        fill: #f5f5f5;
      }
    }
  }
}

.content {
  $h1: 60px;
  $h3: 60px;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  > div:nth-child(1) {
    height: $h1;
    border-bottom: $border;
    background-color: #fafafa;
    padding: 0 16px;
  }
  > div:nth-child(2) {
    flex: 1;
    height: calc(100% - $h1 - $h3);
  }
  > div:nth-child(3) {
    height: $h3;
    border-top: $border;
    padding: 0 16px;
    background-color: #fafafa;
  }
}

.side {
  $h1: 60px;
  height: 100%;
  overflow: hidden;
  width: $sideWidth;
  background-color: #fff;
  border-left: $border;
  flex-shrink: 0;
  > div:nth-child(1) {
    height: $h1;
    border-bottom: $border;
    background-color: #fafafa;
    padding: 0 16px;
  }
  > div:nth-child(2) {
    padding: 0 16px;
    overflow-y: auto;
    flex: 1;
    height: calc(100% - $h1);
  }
}

a.github {
  cursor: pointer;
  color: #000;
  span {
    font-size: 24px;
  }
}

.optionHelp {
  cursor: pointer;
}
.optionHelpBox {
  width: 320px;
}
