.main {
  max-width: 1064px;
  margin: 0 auto;
  padding: 0 16px;
}
.header {
  padding: 16px 0;
  margin-bottom: 30px;
}

.menu {
  margin-bottom: 8px;
}

.localeChange {
  cursor: pointer;
  svg {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    path {
      fill: currentColor;
    }
  }
  span {
    white-space: nowrap;
    color: currentColor;
  }
  &:hover {
    color: #1da565;
  }
}

.preview {
  font-size: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}