.main {
  max-width: 1064px;
  margin: 0 auto;
  padding: 0 16px;
}
.header {
  padding: 16px 0;
  margin-bottom: 30px;
}

.menu {
  margin-bottom: 8px;
}

.localeChange {
  cursor: pointer;
  svg {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    path {
      fill: currentColor;
    }
  }
  span {
    white-space: nowrap;
    color: currentColor;
  }
  &:hover {
    color: #1da565;
  }
}
