.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  background: rgba(15, 23, 42, 0.42);
  display: grid;
  place-items: center;
  > div {
    width: 64px;
    height: 64px;
    background-color: var(--color-primary);
    border-radius: var(--radius-md);
    display: grid;
    place-items: center;
  }
}
