.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  background: rgba(20, 30, 27, 0.38);
  > div {
    width: 64px;
    height: 64px;
    background-color: #173d32;
    border: 1px solid #173d32;
  }
}
