.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  > div {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
