.container {
  width: 100%;
  position: relative;
  padding: 32px 0;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  user-select: none;
  background-color: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
  &:hover {
    background-color: darken($color: #fafafa, $amount: 3);
  }
  &:active {
    background-color: darken($color: #fafafa, $amount: 6);
  }
  > input {
    display: none;
  }

  &.active {
    border: 1px dashed #1da565;
    background-color: #f5f5db !important;
  }
}

.inner {
  line-height: 1;
  svg {
    width: 60px;
    height: 60px;
    path {
      fill: #1da565;
    }
  }
  > span:nth-child(2) {
    margin-top: 16px;
    font-size: 22px;
    font-weight: bold;
    // color: #1da565;
  }
  > div:nth-child(3) {
    margin-top: 16px;
    color: #aaa;
    span {
      color: #999;
      font-weight: bold;
    }
  }
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
