.container {
  width: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #f5f5f5;
  overflow: hidden;
  box-sizing: border-box;
  &:active {
    background-color: darken($color: #f5f5f5, $amount: 5);
  }
  > input {
    display: none;
  }

  &.active {
    background-color: darken($color: #f5f5f5, $amount: 5);
  }
}

.inner {
  line-height: 1;
  svg {
    width: 60px;
    height: 60px;
    path {
      fill: #1da565;
    }
  }
  > span:nth-child(2) {
    margin-top: 16px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 0 16px;
  }
  > div:nth-child(3) {
    margin-top: 8px;
    color: #aaa;
    text-align: center;
    padding: 0 16px;
    line-height: 1.6;
  }
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
